
.box{
    width:50%;
    height:600px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #004c5b;
}

.header {
    width: 90%;
    padding: 10px;
    background-color: #004c5b;  /* Light grey background for the header */
    text-align: right;  /* Aligns the logout button to the right */
}


.chat{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed to keep new messages at the bottom */
    background-color: white;
    border: 1px solid black;
    overflow-y: auto; /* Enables vertical scrolling */
}


#sent-messages, #received-messages {
    max-width: 30%;
    padding: 20px;
    margin-bottom: 10px; /* Space between messages */
    border-radius: 10px; /* Optional: rounded corners for messages */
}

#sent-messages {
    align-self: flex-end;
    background-color: lightgreen;
}

#received-messages {
    align-self: flex-start;
    background-color: lightblue;
}


.send-message{
    height: 5%;
    width: 87.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #b2b2b2;
}

#message{
    width: 85%;
    padding: 10px;
    border: 1px solid black;
}